* text=auto !eol
/GNUmakefile -text
/QT_README.txt -text
/README.build -text
design_docs/qte_socket_interrupted_io.jpg -text
donuts/GNUmakefile -text
donuts/donuts.c -text
donuts/donuts.h -text
donuts/donuts.sh -text
donuts/donutsImpl.h -text
escfilenames/GNUmakefile -text
escfilenames/pcsl_esc.c -text
escfilenames/pcsl_esc.h -text
escfilenames/radix16/GNUmakefile -text
escfilenames/radix16/pcsl_esc_md.h -text
escfilenames/radix41/GNUmakefile -text
escfilenames/radix41/pcsl_esc_md.h -text
escfilenames/radix64/GNUmakefile -text
escfilenames/radix64/pcsl_esc_md.h -text
escfilenames/radix85/GNUmakefile -text
escfilenames/radix85/pcsl_esc_md.h -text
escfilenames/testEsc.c -text
escfilenames/testing/GNUmakefile -text
escfilenames/testing/pcsl_esc_md.c -text
escfilenames/testing/pcsl_esc_md.h -text
file/GNUmakefile -text
file/armsd/GNUmakefile -text
file/armsd/pcsl_armsd.c -text
file/armsd/pcsl_dir_armsd.c -text
file/javacall/GNUmakefile -text
file/javacall/pcsl_dir.c -text
file/javacall/pcsl_file.c -text
file/pcsl_directory.h -text
file/pcsl_file.h -text
file/posix/GNUmakefile -text
file/posix/pcsl_dir_posix.c -text
file/posix/pcsl_posix.c -text
file/ram/GNUmakefile -text
file/ram/pcsl_dir_rmfs.c -text
file/ram/pcsl_rmfs.c -text
file/ram/rmfsAlloc.c -text
file/ram/rmfsAlloc.h -text
file/ram/rmfsApi.c -text
file/ram/rmfsApi.h -text
file/stubs/GNUmakefile -text
file/stubs/pcsl_dir_stubs.c -text
file/stubs/pcsl_stubs.c -text
file/testDir_win32.c -text
file/testFile.c -text
file/util/pcsl_util_filelist.c -text
file/util/pcsl_util_filelist.h -text
file/win32/GNUmakefile -text
file/win32/pcsl_dir_win32.c -text
file/win32/pcsl_win32.c -text
makefiles/README.build_port -text
makefiles/platforms/armsd_arm_ads.gmk -text
makefiles/platforms/javacall_arm_ads.gmk -text
makefiles/platforms/javacall_arm_evc.gmk -text
makefiles/platforms/javacall_arm_gcc.gmk -text
makefiles/platforms/javacall_i386_gcc.gmk -text
makefiles/platforms/javacall_i386_vc.gmk -text
makefiles/platforms/linux_arm_gcc.gmk -text
makefiles/platforms/linux_i386_gcc.gmk -text
makefiles/platforms/solaris_i386_gcc.gmk -text
makefiles/platforms/solaris_i386_sun.gmk -text
makefiles/platforms/win32_i386_vc.gmk -text
makefiles/share/Docs.gmk -text
makefiles/share/ads.gmk -text
makefiles/share/armsd.gmk -text
makefiles/share/doxygen.conf -text
makefiles/share/doxygen_footer.txt -text
makefiles/share/doxygen_header.txt -text
makefiles/share/doxygen_style.css -text
makefiles/share/evc.gmk -text
makefiles/share/gcc.gmk -text
makefiles/share/javacall.gmk -text
makefiles/share/linux.gmk -text
makefiles/share/release.gmk -text
makefiles/share/solaris.gmk -text
makefiles/share/sun.gmk -text
makefiles/share/vc.gmk -text
makefiles/share/win32.gmk -text
makefiles/top.gmk -text
makefiles/verify.gmk -text
memory/GNUmakefile -text
memory/heap/GNUmakefile -text
memory/heap/pcsl_chunkheap.c -text
memory/heap/pcsl_memory.c -text
memory/heap/pcsl_memory_impl.h -text
memory/malloc/GNUmakefile -text
memory/malloc/pcsl_chunkmmap_linux.c -text
memory/malloc/pcsl_memory.c -text
memory/malloc/pcsl_memory_impl.h -text
memory/memory_port/GNUmakefile -text
memory/memory_port/javacall/pcsl_memory_port.c -text
memory/memory_port/javacall/pcsl_memory_port_impl.h -text
memory/memory_port/malloc/pcsl_memory_port.c -text
memory/memory_port/malloc/pcsl_memory_port_impl.h -text
memory/memory_port/pcsl_memory_port.h -text
memory/pcsl_memory.h -text
memory/stubs/GNUmakefile -text
memory/stubs/pcsl_memory.c -text
memory/stubs/pcsl_memory_impl.h -text
memory/testMem.c -text
network/GNUmakefile -text
network/bsd/GNUmakefile -text
network/bsd/generic/GNUmakefile -text
network/bsd/generic/fixmeSimpleNetwork.c -text
network/bsd/generic/pcsl_network_generic.h -text
network/bsd/generic/pcsl_network_na_generic.c -text
network/bsd/pcsl_datagram.c -text
network/bsd/pcsl_network.c -text
network/bsd/pcsl_network_md.h -text
network/bsd/pcsl_network_na.h -text
network/bsd/pcsl_serversocket.c -text
network/bsd/pcsl_socket.c -text
network/bsd/qte/GNUmakefile -text
network/bsd/qte/pcsl_network_na_qte.cpp -text
network/bsd/qte/pcsl_network_qte.cpp -text
network/bsd/qte/pcsl_network_qte.h -text
network/javacall/GNUmakefile -text
network/javacall/pcsl_datagram.c -text
network/javacall/pcsl_network.c -text
network/javacall/pcsl_network_md.h -text
network/javacall/pcsl_serversocket.c -text
network/javacall/pcsl_socket.c -text
network/pcsl_datagram.h -text
network/pcsl_network.h -text
network/pcsl_network_notifier.h -text
network/pcsl_serversocket.h -text
network/pcsl_socket.h -text
network/serial/pcsl_network_serial.h -text
network/serial/pcsl_serial_linux.c -text
network/sos/GNUmakefile -text
network/sos/pcsl_network.c -text
network/sos/pcsl_network_md.h -text
network/sos/testInterleavedRead.c -text
network/sos/testSimpleNetwork.c -text
network/stubs/GNUmakefile -text
network/stubs/pcsl_datagram.c -text
network/stubs/pcsl_network.c -text
network/stubs/pcsl_network_md.h -text
network/stubs/pcsl_serversocket.c -text
network/stubs/pcsl_socket.c -text
network/winsock/GNUmakefile -text
network/winsock/pcsl_ip.c -text
network/winsock/pcsl_network_md.h -text
network/winsock/pcsl_tcp_client.c -text
network/winsock/pcsl_tcp_server.c -text
network/winsock/pcsl_udp.c -text
print/GNUmakefile -text
print/file/GNUmakefile -text
print/file/pcsl_print.c -text
print/javacall/GNUmakefile -text
print/javacall/pcsl_print.c -text
print/pcsl_print.h -text
print/stdout/GNUmakefile -text
print/stdout/pcsl_print.c -text
print/stubs/GNUmakefile -text
print/stubs/pcsl_print.c -text
print/testPrint.c -text
string/GNUmakefile -text
string/pcsl_string.h -text
string/pcsl_string_status.h -text
string/testString.c -text
string/utf16/GNUmakefile -text
string/utf16/pcsl_string.c -text
string/utf16/pcsl_string_md.h -text
string/util/GNUmakefile -text
string/util/utf.c -text
string/util/utf.h -text
tools/sosProxy/CommPort.java -text
tools/sosProxy/GNUmakefile -text
tools/sosProxy/Manifest.mf -text
tools/sosProxy/SoSserver.java -text
types/GNUmakefile -text
types/armsd_arm_ads/java_types_md.h -text
types/java_types.h -text
types/javacall_arm_ads/java_types_md.h -text
types/javacall_arm_evc/java_types_md.h -text
types/javacall_arm_gcc/java_types_md.h eol=lf
types/javacall_i386_gcc/java_types_md.h -text
types/javacall_i386_vc/java_types_md.h -text
types/linux_arm_gcc/java_types_md.h -text
types/linux_i386_gcc/java_types_md.h -text
types/solaris_i386_gcc/java_types_md.h -text
types/solaris_i386_sun/java_types_md.h -text
types/win32_i386_vc/java_types_md.h -text
